<a href="https://colab.research.google.com/github/karolmendes/dio-desafio-github-primeiro-repositorio/blob/main/Teste_Afrodev_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import read_csv

df = pd.read_csv("/content/base_de_dados_olimpiadas.csv")

In [2]:
#1.	Apresente: quantidade de linhas e colunas no arquivo, idade máxima, idade mínima e idade média.
count_col = df.shape[1]
print(count_col)
count_row = df.shape[0] 
print(count_row)

idade_maxima = df["idade"].max()
print(idade_maxima)
#print(df.iloc[:,[0,1]])

idade_minima = df["idade"].min()
print(idade_minima)

total = df["idade"].sum()
media = total/count_row
print(f"{media:.0f}")

#print(df)

10
2398
46.0
15.0
25

In [3]:
#2.	Liste todos os registros da atleta Serena Williams.
serena = df.loc[df["atleta"] == "Serena Williams"]
print(serena)

               atleta  idade           pais   ano  ... ouro prata  bronze  total
174   Serena Williams   30.0  United States  2012  ...    2     0       0      2
1947  Serena Williams   26.0  United States  2008  ...    1     0       0      1
1980  Serena Williams   18.0  United States  2000  ...    1     0       0      1

[3 rows x 10 columns]

In [ ]:
#3.	Liste o nome de todos os países distintos que participaram das olimpíadas.
dif = df["pais"].unique()
print(dif)

In [ ]:
#4.	Liste os atletas que receberam mais de 3 medalhas de ouro.
print(df.loc[df["ouro"] > 3])

In [6]:
#5. Liste todos os atletas do esporte natação e do país Brasil.
print(df.loc[(df["esporte"] == "Swimming") & (df["pais"] == "Brazil")])

                   atleta  idade    pais   ano  ... ouro prata  bronze  total
222     César Cielo Filho   21.0  Brazil  2008  ...    1     0       1      2
2080    César Cielo Filho   25.0  Brazil  2012  ...    0     0       1      1
2138       Thiago Pereira   26.0  Brazil  2012  ...    0     1       0      1
2322       Gustavo Borges   27.0  Brazil  2000  ...    0     0       1      1
2341         Carlos Jayme   20.0  Brazil  2000  ...    0     0       1      1
2370         Xuxa Scherer   25.0  Brazil  2000  ...    0     0       1      1
2371  Edvaldo Silva Filho   22.0  Brazil  2000  ...    0     0       1      1

[7 rows x 10 columns]